#intro-text{
    margin-top: 10vh;
    text-align: center;
    background-color: lightyellow;
}

#table th, td{
    border: 1px solid #ccccad;
    text-align: left;
    padding: 8px;
}

#table tr:nth-child(even) {
    background-color: #ccccad;
  }