<!DOCTYPE HTML>
<html>
    <head>
        <title>Comparator Plugin</title>
        <meta name="decorator" content="atl.general" />
        #requireResource(dso.plugin.comparator-plugin:comparator-plugin-resources)
    </head>
    <body>
        <div id="intro-text">
            <h3>Welcome to the Comparator Plugin</h3>
            <p>This plugin allows you to compare between two versions of the selected page.</p>
            <form id="form" class="aui" method="post" action="${req.contextPath}/comparator-plugin/result/comparator-plugin-result-xwork.action">
                <fieldset>
                    <table id="table" style="margin: 0 auto; visibility: hidden;">
                        <tr>
                            <th>Version</th>
                            <th>Date of Update</th>
                            <th>Updated By</th>
                        </tr>
                    </table>

                    <label for="pageVersion1" style="margin: 2vh 2vw;">Select Page Version:</label>
                    <select name="pageVersion1" style="margin: 2vh auto;" id="pageVersionSel1">
                    </select>

                    <div style="display: block;"></div>

                    <label for="pageVersion2" style="margin: 2vh 2vw;">Select Page Version:</label>
                    <select name="pageVersion2" style="margin: 2vh auto;" id="pageVersionSel2">
                    </select>

                    <div style="display: block;"></div>

                    <button type="submit" form="form" value="Submit" style="margin: 2vh auto; display: block;">Submit</button>
                </fieldset>
            </form>
        </div>
    </body>
</html>

